<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meeting at MeetHub</title>
        <meta name="title" content="MeetHub-FREE! Video Meetings for Everyone">
        <meta name="description" content="Video meeting app that provides free video meetings">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://meethub.onrender.com/">
        <meta property="og:title" content="Meeting at MeetHub !">
        <meta property="og:description" content="You are invited to a meeting at meethub">
        <meta property="og:image" content="https://ik.imagekit.io/avy76kxdy/logo_b.png?updatedAt=1680448835741">
        <link rel="stylesheet" href="style.css">
        <script  src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
       <script>
           var ROOM_ID = "<%=roomId%>";
           console.log(ROOM_ID)
        </script>
    
</head>
<body>
   <div class="loader">
        <img src="/images/logo_b.png" height="250" width="250" alt="Loading.." >
   </div>
    <div class="navbar">
      <a href="https://meethub.onrender.com/">
        <img src="/images/logo_b.png" id="logo">
      </a>
       <a href="https://meethub.onrender.com/" >
    <h1 style="color: #6c03ff;"><b style="color: white;">Meet</b>Hub</h1>
</a> 
<p style="color: #6c03ff; margin-left: auto; font-size: 1.5rem; margin-right:1rem ;" class="roomid"> </p> <img height="30" width="30" src="/copy.png" style="filter:invert(1);cursor: pointer;" onclick="copyLink()" />
</div>

    <div class="room">
        <div class="videosection">
           
            
                <div class="videogrid">
        
                </div>
            
            <div class="options"></div>
        </div>
        <div class="chatsection">
            <img src="cancel.png"  style="align-self: baseline;" alt="cross" id="cross" onclick="closeChats()">
            <div id="chats"></div>
            <div class="input-chats">
                <input type="text" id="message">
                <button id="send">send</button>
            </div>
        </div>
        <div class="utilityButtons">

        </div>
    </div>
    <script src="conference.js"></script>
    
 
</body>
</html>