<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meethub</title>
        <link rel="stylesheet" href="style.css">
        <script  src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
       <script>
           var ROOM_ID = "<%=roomId%>";
           console.log(ROOM_ID)
        </script>
    
</head>
<body>
   
    <div class="navbar">
      <a href="https://meethub.onrender.com/">
        <img src="/images/logo_b.png" id="logo">
      </a>
       <a href="https://meethub.onrender.com/" >
    <h1><b style="color: white;">Meet</b>Hub</h1>
</a> 
<h1 style="color: white; margin-left: auto;" class="roomid">Room ID : </h1>
</div>

    <div class="room">
        <div class="videosection">
           
            <div class="vgc">
                <div class="videogrid">
        
                </div>
            </div>
            <div class="options"></div>
        </div>
        <div class="chatsection">
            <img src="cancel.png"  style="align-self: baseline;" alt="cross" id="cross" onclick="closeChats()">
            <div id="chats"></div>
            <div class="input-chats">
                <input type="text" id="message">
                <button id="send">send</button>
            </div>
        </div>
        <div class="utilityButtons">

        </div>
    </div>
    <script src="conference.js"></script>
    
 
</body>
</html>