<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Primary Meta Tags -->
        <title>MeetHub</title>
        <meta name="title" content="MeetHub-FREE! Video Meetings for Everyone">
        <meta name="description"
            content="Video meeting app that provides free video meetings">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://meethub.onrender.com/">
        <meta property="og:title" content="MeetHub-FREE! Video Meetings for Everyone">
        <meta property="og:description"
            content="Video meeting app that provides free video meetings">
        <meta property="og:image"
            content="/images/logo_b.png">

        <link rel="stylesheet" href="style.css">
        <script  src="/socket.io/socket.io.js"></script>
        <!-- <script  src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script> -->
      
    <!-- <script src="https://enigmatic-everglades-57456.herokuapp.com/socket.io/socket.io.js"></script> -->
    
</head>
<body>
    <div class="navbar">
        <img src="/images/logo_b.png" id="logo">
        <h1><b style="color: white;">Meet</b>Hub</h1>
    </div>
    <div class="content">
        <div class="left">
            <p >Video Meetings</p>
            <p >
                <b style="color:#6c03ff">FREE!</b>
                for EveryOne
            </p>
           
            <div class="buttons">
                <button id="create-meet-btn">Create Meeting</button>
                <div class="buttons">
                    <input type="text" id="roomid" placeholder="Meeting Code">
                    <button   id="join-meet-btn">Join Meeting</button>    
                </div>
            </div>
        </div>
        <div class="right">
            <img id="pic1" src="hero.png" >
        </div>
    </div>
    <!-- <div class="room">
        <div class="videosection">
            <h1 class="roomid">Room ID : </h1>
            <div class="videogrid">
    
            </div>
            <div class="options"></div>
        </div>
        <div class="chatsection">
            <div class="chats"></div>
            <div class="input-chats">
                <input type="text" id="message">
                <button id="send">send</button>
            </div>
        </div>
    </div> -->
    <script src="app.js"></script>
    
 
</body>
</html>