*{
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    
    background-color: black;
    color:white;
}
.navbar{
    color:#6c03ff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar a{
    color:#41b9ff;
    display: flex;
    text-decoration: none;
}
#logo{
    height:50px;
    margin: 10px 20px;
}
#pic1{
    max-height: 50vh;
    height: 10%;
    filter: invert(1);
}
.content{
    min-height: 80vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#create-meet-btn ,#join-meet-btn{
    font-size: large;
    height:60px;
    width:170px;
    padding: 20px;
    border:none;
    border-radius: 5px;
   
    cursor: pointer;
}
#create-meet-btn{
    background-color: #6c03ff;
    color: white;
}
#join-meet-btn{
    background-color: white;
    color: #6c03ff;
    border: 1px solid #6c03ff;
}
#create-meet-btn:hover{
    background-color: white;
     color: #6c03ff;
     border: 1px solid #6c03ff;
}
#join-meet-btn:hover{
   background-color: #6c03ff;
    color: white;
}
#roomid{
    font-size: large;
    border: 1px solid #6c03ff;
    height: 35px;
    width: 207px;
    padding: 0.8rem 1rem;
    border-radius: 5px;
}
.left,.right{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
    padding: 1rem;
}

.left p{
   font-size: 4rem;
   margin: 0;
}
@media (max-width:500px) {
    #pic1{
        width: 80%;
    }
    .left p{
        font-size: 2rem;
    }
    .navbar h1{
        font-size: 2rem;
    }
}

.room{
    padding: 2rem;
    max-height: 80vh;
    display: flex;
    flex-direction: row;
    display: none;
}
.videosection{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.videogrid{
    max-height: 80vh;
  width:100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    
}
.videogrid .column{
    width: 100%;
}
video{
    width: 100%;
    max-height:80vh ;
    /* width:400px; */
    border-radius: 5px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    /*SafariandChrome*/-moz-transform:rotateY(180deg);
    /*Firefox*/;
}

#chats{
    display: flex;
    flex-direction: column;
  width: 90%;
  height: 80%;
    padding: 1rem;
   background-color: black;
    border-radius: 5px;
    overflow:auto;
}
#chats img{
    filter: invert(1);
}
@media (max-width:1000px) {
    .room{
        flex-wrap: wrap;
    }
    /* .videogrid{
        width:800px;
    } */
  
}
button image{
    height:50px;
    width:50px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.utility-btn{
    transition: 200ms linear;
    cursor: pointer;
    margin: 15px;
}
.chatsection{
    height: 95%;
    width:95%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    gap:15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background-color: #6c03ff;
    color: white;
    border-radius: 5px;
    padding: 1rem;
}
.input-chats{
    width: 100%;
}
.input-chats input[type="text"]{
    width: 80%;
    font-size: large;
    margin: 7px;
    padding: 7px;
    border-radius: 10px;
    border: #6c03ff 1px solid;
}
.input-chats button{
    width: 12%;
    font-size: large;
    padding: 8px;
    border-radius: 15px;
    background: white;
    color: #6c03ff;
    border: #6c03ff 1px solid;
}
.input-chats button:hover{
    background: #6c03ff;
    color: white;
}
.L,.R{
    background-color: #6c03ff;
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.R{
    background-color: rgb(182, 21, 182);
}
#cross{
    cursor: pointer;
    height: 55px;
    width: 55px;
}
.chat-btn{
    display:none;
}
.chatsection{
    display: none;
}
.chat-btn{
    display:flex;
}

@media (max-width:1200px) {
    
    /* .videogrid{
        width:1000px;
    } */
}
@media  (max-width:1000px) {
    
    /* .videogrid{
        width:800px;
    } */
}
@media (max-width:800px) {
    /* #chats{
        width: 500px;
    } */
    /* .videogrid{
        width:500px;
    } */
}

@media (max-width:600px) {
    /* #chats{
        width: 300px;
    } */
}
@media (max-width:500px) {
    /* #chats{
        width: 300px;
    } */
    .videogrid{
        /* width: 300px; */
       /* flex-direction: column;
        */
        justify-content: baseline;
        flex-wrap: wrap;
    }
    .column{
        width: 50% !important;
    }
    .input-chats button{
        width:25%;
    }
    .input-chats input[type="text"]{
        width: 60%;
      
    }
}
.muted{
    position: relative;
}
.muted::before{
    top: -4px;
    content: "";
    height: 63px;
    width: 3px;
    background: black;
    border-radius: 15px;
    transition: easy;
    left: 25px;
    position: absolute;
    transform: rotate(
45deg);
}

.utilityButtons{
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.utility-btn:hover{
    transform: scale(1.1);
}
.loader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top:0;
    background-color: black;
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loader img{
    animation: rotate infinite forwards 5s linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}